<script>
export default {
}
</script>
<template>
  <div class="playlist-layouts">
    <div class="playlist"
      v-ripple
      v-for="(list, index) in $store.state.playlist.playlists"
      :key="list[0]">
      <img class="picture" :src="`src/assets/playlist${index+1}.jpg`">
      <div class="name body-1">
        {{list[0]}}
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
  $dim = 110px
  .playlist-layouts
    padding: 5px 10px!important
    display grid
    grid-gap 15px
    grid-template-columns: repeat(auto-fill, minmax($dim, 1fr));
    height max-content
    //
    .playlist
      display grid
      width: $dim
      box-sizing border-box
      background-color white
      z-index 0!important
      cursor pointer
      transition 200ms
      &:active
        box-shadow: 0 1px 7px 2px $grey.darken-2
      // 
      .name
        color: $grey.darken-4
        text-overflow ellipsis
        width 90%
        margin-top: 5px
        overflow hidden
        white-space nowrap
      // 
      img.picture
        width $dim
        height $dim
        object-fit cover
        // border-bottom: solid 1px $grey.lighten-2
</style>

