<script>
import FSettings from '../../components/settings/index.vue'
import FPlaylists from '../../components/playlist/index.vue'
export default {
  components: {FSettings, FPlaylists},
  data() {
    return {
      
    }
  },
}
</script>
<template>
  <v-tabs-items class="wrap" v-model="$store.state.currentTab">
    <v-tab-item id="settings">
      <FSettings id="content"/>
    </v-tab-item>
    <v-tab-item id="audio">
      <div class="display-4"> Audio </div>
    </v-tab-item>
    <v-tab-item id="playlists">
      <FPlaylists id="content"/>
    </v-tab-item>
    <v-tab-item id="queue">
      <div class="display-4"> Queue </div>
    </v-tab-item>
  </v-tabs-items>
</template>

<style lang="stylus" scoped>
  .wrap
  
  #content
    padding: 0px
    overflow-y: auto
    max-height: 100vh
  .display-4
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    color: $grey.darken-1
</style>
