<script>
import FNavigation from './navigation.vue'
import FContent from './content.vue'
export default {
  components: { FNavigation, FContent },
  mounted( ) {
    this.$electron.ipcRenderer.send('main page is ready!')
  }
}
</script>

<template>
  <main id="app">
    <FNavigation/>
    <FContent/>
  </main>
</template>

<style lang="stylus">
  body 
    margin 0px

  #app 
    display grid
    grid-template-areas "nav content"
    grid-template-columns 50px auto
    min-height 100%
    font-family: Roboto,sans-serif;
    line-height: 1.5;

  html 
    overflow hidden
    font-size: 14px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);

  body, html 
    height 100%

  button.btn
    margin 6px auto
    display flex
    
  ::selection 
    background-color hsl(213, 92%, 85%)
    color hsl(0, 0%, 0%)
    text-shadow none
</style>

