<script>
export default {
  data( ) {
    return {
      ShowMediaButton: false,
      MediaButtons: {
        skip_previous: {},
        play_arrow: {},
        skip_next: {},
        repeat: {},
        shuffle: {}
      },
      NavButtons: {
        settings: { to: 'settings' },
        music_note : { to: 'audio' },
        library_music: {to: 'playlists'},
        queue_music: { to : 'queue'}
      }
    }
  },
}
</script>
<template>
  <nav id="left-navigation" class="elevation-3">
    <div class="nav-buttons">
      <v-btn
        icon 
        v-once 
        v-for="(list, key) in NavButtons"
        @clickss="list.click || function(){}" 
        @click="$store.state.currentTab = list.to" 
        :key='key'
        v-bind="list"
        active-class="active"
        :ripple= "{ class: 'grey--text' }">
        <v-icon color="grey darken-3"> {{key}} </v-icon>
      </v-btn>
    </div>
    <div class="playing-info">
      <img src="../../assets/image.jpg">
      <div class="floating-player elevation-16">
        <div class="button-container">
          <v-btn 
            icon 
            v-once 
            v-for="(list, key) in MediaButtons"
            :key="key">
            <v-icon color="grey darken-3"> {{key}} </v-icon>
          </v-btn>
        </div>
      </div>
    </div>
  </nav>
</template>


<style lang="stylus" scoped>
  $width = 50px
  #left-navigation
    grid-area nav
    height 100%
    z-index: 200
    background-color: white
    position relative

    .nav-buttons
    .active.btn .icon
      color:$deep-purple.lighten-1!important

    .playing-info
      width $width
      height $width
      position absolute
      bottom 0px
      
      &:hover>.floating-player
        opacity: 1
        pointer-events auto
      
      >*
        position absolute
      
      .floating-player
        height 100%
        width max-content
        background-color: white
        position relative
        z-index 1
        opacity: 0
        pointer-events: none
        
        .button-container
          margin-left $width
          height 100%
          display flex
          flex-direction row
          align-items center
          padding-right 10px
      
      img
        z-index 2
        width 100%
        object-fit cover
        height 100%
        padding 7px
        border-radius 50%
</style>
