<script>
import FSync from './sync.vue'
export default {
  components: { FSync }
}
</script>

<template>
  <div class="menu-layout">
    <FSync/>
  </div>
</template>

<style lang="stylus">
  .menu-layout
    // background-color: white!important
  .setting
    background-color: white
    padding: 10px 15px 0px

  .header
    display:flex
    align-items: center
    justify-content: space-between
    .btn
      margin: 6px 0!important
  .button-wrapper
    display: flex
    justify-content: flex-end
    margin: 5px 0px
  .box
    background-color: white
    color: $grey.darken-3
    border: solid $grey.lighten-2
    border-width: 1px 0px 0px 
    padding: 5px 0px
    .item
      display:grid
      grid-template-columns: max-content auto max-content
      grid-gap: 10px
      align-items: center
      .text
        display: flex
        white-space: nowrap
        overflow: hidden
        .folder-name
          color: $grey.darken-4
        .folder-path
          color: $grey.darken-1
          margin-left: 10px
          text-overflow: ellipsis
          overflow: hidden
          direction: rtl
      .actions
        display: flex
        .btn:not(:last-child)
          border-right: solid 1px $grey.lighten-3

</style>


