<script>
const Path = window.require('path')
import Vuex from 'vuex'
import FItem from './sync-item.vue'
const Settings = Vuex.createNamespacedHelpers('settings')
export default {
  components: { FItem },
  beforeCreate( ) {
    this.$store.dispatch('settings/getSyncPath')
  },
  data( ) {
    return Settings.mapState(['syncronizedPath'])
  },
  methods: { ...Settings.mapActions(['addFolder']) }
}
</script>
<template>
  <div class="setting">
    <div class="header">
      <div class="subheading">
        Synchronized Folder
      </div>
      <v-btn small flat @click="addFolder"> 
        add folder 
      </v-btn>
    </div>
    <div class="box">
      <div class="no-item"
        v-if="$store.state.settings.synchronizedPath.length < 1">
        <div class="text">
          You not add folder to synced yet
        </div>
      </div>
      <FItem v-else
        v-for="(item, i) in $store.state.settings.synchronizedPath"
        :key="item" :path="item" @remove="removePath(i)">
      </FItem>
    </div>
  </div>
</template>