<script>
import Path from 'path'

export default {
  props: {
    path: String
  },
  created( ) {
    this.$electron.ipcRenderer.on(`reply ${this.path}`,(main, resp) => {
      if(resp.complete === true)
        this.Scanning = false
      else if(resp.metadata)
        this.CurrAnalyzedFile.title = resp.metadata.title || 'Scanning ^ __ ^'
    })
  },
  data() {
    return {
      Scanning: false,
      CurrAnalyzedFile: { title: '' }
    }
  },
  methods: {
    scanPath() {
      const path = this.path
      this.Scanning = true
      this.$electron.ipcRenderer.send('scanPath', path)
    }
  },
  computed: {
    item() {
      const split = this.path.split(Path.sep)
      const last = split.pop()
      return {
        folderName: last,
        path: split.join(Path.sep)
      }
    }
  }
}
</script>
<template>
  <div class="item">
    <v-icon> folder </v-icon>
    <div class="body-1 text">
      <div class="folder-name"> {{item.folderName}}</div>
      <div class="folder-path" v-if="Scanning"> {{CurrAnalyzedFile.title}} </div>
      <div class="folder-path" v-else> {{item.path}} </div>
    </div>
    <div class="actions">
      <v-btn small flat @click="scanPath" :loading="Scanning">
        scan  
      </v-btn>  
      <v-btn small flat outline 
        color="red lighten-1" @click="$emit('remove')" 
        :disabled="Scanning">
        remove
      </v-btn>
    </div>
  </div>
</template>



